 /* barra navegacion */
 nav{
     width: 100%;
 }
 .nav-container{ 
    display: flex;
    background-color: rgba(0, 191, 255, 0.274);
    justify-content: space-between;
 } 
.navbar-brand{
    width: 90px; 
}

#nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
}
#nav-menu li{
    margin-left: 10px;
}

/* cuerpo principal barras busqueda */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10%;
}

.topnav{
    display: flex;
    float: right;
    padding: 5px;
    border: 1px solid dodgerblue;
    border-radius: 15px;
    margin: 10px;
    font-size: 17px;
  }

.search-bar{
    display: flex;
    width: 90%;
    border: solid dodgerblue;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}
.search-bar ul{
    list-style: none;
}
.Top10{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

/* login */

.login h2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* faq */
.faq p{
    color: dodgerblue;
}


/*responsive */
@media all and (min-320px){
    .navbar-brand{
        width: 20%; 
    }
    .topnav{
        width: 80%;
        float: right;
        padding: 5px;
        border: 1px solid dodgerblue;
        border-radius: 15px;
        margin: 8px;
        font-size: 17px;
    }
    .search-bar{
        display: flex;
        width: 90%;
        border: solid dodgerblue;
        padding: 10px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style: none;
    }
    .Top10{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }
}